/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
words-alpha.txt
.clj-kondo/.cache/
.lsp/.cache/
.lsp/sqlite*.db
.calva/output-window/
.DS_Store
.portal/